@CHARSET "UTF-8";

/* --------- Éléments html purs, seuls ---------- */
body {
	background-color: #F2F2F2;
	padding: 0px;
	margin: 0px;
}

#header{
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	text-shadow: 0px 0px 12px #FFF;
	background-color: #FFF;
	border: 1px #CCC solid;
}

#header a {
	display: block;
}

#header a, #header a:hover, #header a:visited {
	text-decoration: none;
	color: #9E2424;
}

#content {
	width: 100%;
	margin-top: 90px;
}

/************************/
/* Menu latéral gauche. */
/************************/
#menu {
	position: fixed;
	top: 91px;
	left: 0px;
	width: 210px;
	line-height: 2em;
	float: left;
	border: 1px #CCC solid;
}

.menuIcon {
	width: 25px;
	height: 25px;
	vertical-align: middle;	
}

#menu a img {
	margin-right: 10px;
}

#menu a {
	color: #8B60B2;
	background-color: #FFF;
}

#menu a:hover {
	color: #FFF;
	background-color: #8B60B2;
}

#menu a, #menu a:visited, #menu a:hover {
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 5px;
}

/* FIN - Menu latéral gauche. */

#subcontent, #subcontentConnected {
	background-color: #FFF;
	width: 800px;
	margin: 0px auto;
	display: block;
	box-shadow: 0px 0px 10px #888888;
	border: 1px #CCC solid;
}

.connected {
	width: 80%;
}

#chat {
	width: 300px;
	background-color: #FFF;
	float:right;
	margin-top: -320px
}

#categories {
	border: 0px;
	padding: 0px 0px;
}

#categories p {
	display: inline-block;
	margin: 0px 0px;
}

/* La fonction ":not()" permet d'exclure un élément. */
#categories p label, :not(label[for=toutcocher]) {
	margin-right: 10px;
}

#criteres {
	width: 650px;
}

#logo {
	padding: 10px;
}

.mediaIcon {
	margin-right: 10px;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

.erreur, .required {
	color: red;
}

#subcontent fieldset, #subcontentConnected fieldset {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#subcontent, #subcontentConnected, #menu, #chat {
	vertical-align: top;
}

#menu, #chat {
	display:inline-block;
}

#chatContent {
	height: 200px;
	overflow-y: scroll;
}

#rechercher {
	padding: 10px;
}

.ligneMedia {
	padding: 5px 10px;
	margin: 0px;
}

p.ligneMedia:hover {
	background-color: #8B60B2;
}

p.ligneMedia:hover .ligneMediaLien, p.ligneMedia:hover .ligneMediaLien {
	color: #FFF;
	/* text-decoration: underline; */
}

.ligneMediaLien, .ligneMediaLien:visited {
	text-decoration: none;
	color: #8B60B2;
}

.ligneMediaLien, .ligneMediaLien:visited, .ligneMediaLien:hover {
	font-size: 18px;
	font-weight: bold;
}

p.ligneMedia:hover .publieur, p.ligneMedia:hover .publieur:visited {
	color: #FFD696;
}

.publieur, .publieur:visited {
	color: #56B277;
	text-decoration: none;
}

.publieur:hover {
	text-decoration: underline;
}

.publieur, .publieur:visited, .publieur:hover {
	font-size: 11px;
	font-weight: bold;
	margin-left: 50px;
}