@CHARSET "UTF-8";

/* --------- Éléments html purs, seuls ---------- */
body {
	background-color: #F2F2F2;
	padding: 0px;
	margin: 0px;
}

div {
	padding: 10px 10px;
	border: solid 1px black;
}

label {
	width: 220px;
}

/* --------- Groupes d'éléments html purs ---------- */

/* --------- Classes pures, seules ---------- */
.erreur, .required {
	color: red;
}

.ligneMedia {
	width: 100%;
}

.mediaIcon {
	margin-right: 10px;
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

/* ****************************************** */
/* Média à consulter (dans la page d'accueil) */
/* ****************************************** */
.ligneMediaLien, .ligneMediaLien {
	text-decoration: none;
}

.ligneMediaLien:hover {
	text-decoration: underline;
}

.ligneMediaLien, .ligneMediaLien:visited, .ligneMediaLien:hover {
	font-size: 14px;
	color: #0875C8;
}

/* *********************************************** */
/* Utilisateur à consulter (dans la page d'accueil */
/* *********************************************** */
.publieur, .publieur:visited {
	color: #8D8D8D;
	text-decoration: none;
}

.publieur:hover {
	color: #0875C8;
	text-decoration: underline;
}

.publieur, .publieur:visited, .publieur:hover {
	font-size: 11px;
 	margin-left: 42px;
}

.mediaPhoto {
	max-width: 350px;
	max-height: 600px;
}

/* --------- Éléments avec id, seuls ---------- */
#header{
	margin-bottom: 10px;
	font-size: 42px;
	text-shadow: 0px 0px 12px #FFF;
}

#header a, #header a:hover, #header a:visited {
	text-decoration: none;
	color: #9E2424;
}

#menu {
	width: 200px;
	line-height: 2em;
	float: left;
}

#links {
	text-align: left;
}

#content {
	margin-left: 10px;
}

#chat {
	float:right;
	background-color: #FFF;
}

#categories {
	border: 0px;
	padding: 0px 0px;
}

#categories p {
	display: inline-block;
	margin: 0px 0px;
}

/* La fonction ":not()" permet d'exclure un élément */
#categories p label, :not(label[for=toutcocher]) {
	margin-right: 10px;
}


#criteres {
	width: 500px;
}

/* --------- Groupe d'éléments avec id ---------- */

#header, #menu, #content {
	background-color: white;
}

#header, #menu {
	text-align: center;
}

#menu, #content, #chat {
	display: inline-block;
	vertical-align: top;
}

#filmForm, #episodeForm {
	border : 0px;
}

#episodeForm, #filmForm {
	padding: 0px 0px;
}

/* --------- Menu latéral gauche ---------- */
#menu div {
	padding: 0px 0px;
}

.menuIcon {
	width: 20px;
	height: 20px;
	vertical-align: middle;	
}

/* #menu div a img {

} */

#menu a, #menu a:visited {
	color: #9E2424;
}

#menu a:hover {
	color: #540303;
}

#menu a, #menu a:hover, #menu a:visited {
	text-decoration: none;
}
